name: Make Android Keystore (Base64)

on:
  workflow_dispatch:
    inputs:
      alias:
        description: Key alias (e.g. upload)
        required: true
        default: upload
      store_password:
        description: Keystore password
        required: true
      key_password:
        description: Key password
        required: true
      dname:
        description: 'DN (CN, OU, O, L, ST, C)'
        required: true
        default: 'CN=Owner, OU=Org, O=Company, L=City, ST=State, C=LV'

jobs:
  make:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate keystore
        run: |
          keytool -genkey -v \
            -keystore keystore.jks \
            -storepass '${{ github.event.inputs.store_password }}' \
            -keypass   '${{ github.event.inputs.key_password }}' \
            -keyalg RSA -keysize 2048 -validity 10000 \
            -alias '${{ github.event.inputs.alias }}' \
            -dname '${{ github.event.inputs.dname }}'

      - name: Make Base64 (single line)
        run: |
          base64 -w0 keystore.jks > keystore.jks.b64

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: android-keystore
          path: |
            keystore.jks
            keystore.jks.b64

      - name: Summary
        run: |
          echo "### ANDROID_KEYSTORE_B64" >> $GITHUB_STEP_SUMMARY
          echo "\`$(cat keystore.jks.b64)\`" >> $GITHUB_STEP_SUMMARY
